<div class="d-flex flex-column align-items-center gap-4 justify-content-start vh-100">
    <div class="row">
        <% include partials/_navbar.html %>
    </div>
    <div class="container row flex-fill flex-grow-1 py-5 flex-column">
        <h2 class="mb-4">
            Add Thing
        </h2>
        <form action="/add" method="POST">
            <div class="form-group mb-2">
                <input type="text" name="thing" class="form-control form-control-lg" placeholder="Add something">
            </div>
            <input type="submit" value="Add" class="btn btn-dark btn-sm">
            <a href="/" class="btn btn-danger btn-sm">Cancel</a>
        </form>
    </div>
</div>