<nav class="border navbar navbar-light bg-light my-0">
    <div class="container-fluid px-5 py-2 justify-content-start">
        <a class="navbar-brand">BORED DOG</a>
        <span class="navbar-text">Get a dog and something to do.</span>
    </div>
    <form action="/" method="POST" class="container-fluid mx-0">
        <div class="input-group">
            <span class="input-group-text px-4" id="basic-addon1">🔎</span>
            <input name="breed" class="form-control py-3" type="search" placeholder="" aria-label="breed">
            <input type="submit" value="Search" class="btn btn-dark btn-sm">
        </div>
    </form>
    <div class="container-fluid justify-content-center my-4">
        <a href="/add" class="btn btn-sm btn-dark">Button to /add...</a>
    </div>
</nav>