<nav class="navbar py-0">
    <div class="container-fluid px-3 py-3 justify-content-start">
        <img class="icon" src="/assets/icon.png" alt="">
        <a class="brand-name" href="/">BORED DOG</a>
        <span class="brand-slogan">Get a dog and some advice.</span>
    </div>
    <form name="breed-form" action="/" method="POST" id="search-form" class="container-fluid mx-0 px-0">
        <div class="input-group">
            <span class="input-group-text px-3" id="basic-addon1">🔎</span>
            <input name="breed" class="form-control py-3" type="search" id="search-bar" placeholder=""
                aria-label="breed" value="<%= prevSearch %>">
        </div>
    </form>
    <div class="breed-list-container">
        <div id="breed-list" class="gap-2">
            <% breeds.forEach((item)=> { %>
                <form name="breed-btn-form" action="/" method="POST">
                    <input type="submit" name="breed" class="breed-btn" value="<%= item %>">
                </form>
                <% }); %>
        </div>
        <div class="breed-list-fade-1"></div>
        <div class="breed-list-fade-2"></div>
    </div>
</nav>